:root {
  --font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  background-color: #fafafa;
  color: #2e2f42;
  line-height: 1.5;

  font-family: var(--font-family);
}
